<div class='container'>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">
          <%= @category.name %> / New Article
        </h1>
      </div>
    </div>
  </section>

  <%= render partial: 'form', locals: { category: @category, article: @article } %>
</div>
